.backcolor{
	background-color:#F2F2F2;
	text-align: center;
	margin-top: 30px;
}
.div-stepimg>img{margin: 0 auto;}
.div-keyword{
	line-height: 1.5em;
	color: #666666;
	font-size: 16px;
}
.div-templetnav>ul:not(:first-child),.backcolor>div:not(:first-child){
	border-top: 1px solid #CCCCCC;
}
.subnav{
	display: none;
}
.subnav li a{
	padding-left: 30px;
	display: block;
	font-size: 13px;
}
.div-templetnav ul li{
	line-height: 30px;
}
.div-templetnav{
	padding-right: 0px;
	height: 100%;
	border-right: 1px solid #CCCCCC;
}
.div-mainshow{
	width: 95%;
	margin: 0 auto;
	margin-top: 40px;
}
.div-templetnav1{
	font-size: 18px;
	text-shadow: 1px 1px 1px #ccc;
	
}
.div-templetnav1 a,.div-templetnav2 a{
	color: #555;
	display: block;
}
.div-templetnav1 li{
	margin-top: 15px;
}
.div-mainshow li{
	display: block;
	text-align: left;
}
.div-templetnav1 input{
	width: 140px;
	
}
.div-templetnav2>li{
	font-size: 16px
}
.div-templetnav1 .li-search{
	position: relative;
}
.div-templetnav1 i{
	position: absolute;
	top:10px;
	left: 110px;
}
.div-mainshow>div{
	margin-top:30px;
}
.div-showId{
	color: #555;
	text-shadow: 1px 1px 1px #ccc;
	padding-bottom: 5px;
	font-size:16px;
	text-align: left;
}
.div-showtemplet>div{
	margin-bottom: 70px;
	/*position: relative;*/
}
.activeli{
	color:#0088c2 !important;
}
/*媒体查询*/		
@media (max-width:767px ) {
   .backcolor{
   	   position: relative;
   	   top:50px;
   }
   .div-stepimg{
   	   padding-top: 40px;
   }
 .btn-operate a{padding:5px 15px !important;}
}
.div-operate{
	background-color: rgba(255,255,255,0.4);
	width:100%;
	height: 100%;
	position: absolute;
	z-index:1;
	top:0px;
	display: none;
}
.btn-operate a{
	background: #3e3e3e;
	color: white;
	border-radius: 3px;
    padding: 5px 21px;
	margin-right: 10px;
}
.btn-operate{
	margin-top: 25%;
}
.div-operate a:hover{
	color:white;
}
.div-showtemplet .div-showimg{
	width: auto;
	position: relative;
	display:inline-block !important;
}

.title-convenient{
    font-family:"华文细黑";
    font-size: 36px;
    color: rgb(24, 24, 24);
}
.p-convenient{
    font-family:"华文细黑";
    font-size: 16px;
    color: rgb(134, 134, 134);
    line-height: 1.5em;
    margin-top: 35px;
}
.div-recommend a{
	font-size: 16px;
	color: #0088c2;
}
.div-question dt{
	font-weight: 700;
    font-family: "华文细黑";
	font-size: 16px;
	color: rgb(51, 51, 51);
	line-height: 24px;
	display: block;
}
.div-question dd{
	font-size: 16px;
	color: rgb(128, 128, 128);
	line-height: 24px;
}
.div-question{
	padding-left: 0px;
}
.div-relatedinfo>div,dt,dd,.title-convenient{
	margin-top: 15px;
	margin-bottom: 15px;
}
 @media (max-width:767px ) {
   .div-relatedinfo{
   	margin-top: 100px;
   }
}
			
			

